$color1: var(--green);
$color3: var(--grey);
 
*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
.not-found {
   //background: url(https://i.imgur.com/76NZB7A.gif) no-repeat center center fixed; 
   //º background: url(https://thumbs.gfycat.com/FickleConsciousAtlanticspadefish-size_restricted.gif) no-repeat center center fixed; 
    background-size: cover;
    height: 80vh;
}

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 6em;
    font-weight: 700;
    color: $color1;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: $color3;
   // text-shadow: 0 0 3px $color3, 0 0 5px #000000;
}

.buttons {
    margin: 30px;
    
    a.button {
        font-weight: 700;
        border: 2px solid $color1;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: $color1;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            background-color: $color1;
            color: white;
            transition: all 0.2s ease-in-out;
        }
    }

    
}

