.sidenavParent {
  .collapsible {
    border: none;
    box-shadow: none;
    color: #9e9e9e;
    font-size: 18px;
    font-weight: bold;
    .collapsible-header {
      text-transform: capitalize;
      border-bottom: none;
    }
    .collapsible-body {
      padding: 0;
      border: none;
      .collection {
        a {
          font-size: inherit;
          font-weight: inherit;
          text-transform: capitalize;
          margin-left: 15px
        }
        .collection-item {
          border: none;
        }
      }
    }
  }
  .sidenav {
    position: fixed;
    top: 0;
    left: -400px;
    z-index: 9999;
    background: white;
    height: 100%;
    width: 400px;
    padding: 20px 0 0 0;
    border-right: 1px solid;
    transition: left 0.35s ease-out;
    list-style: none;
    display: flex;
    flex-direction: column;

    max-width: 100vw;
    &__close{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 15px;
      i:hover{
        cursor: pointer;
      }
    }
  }
  .overlay {
    background: rgba(0, 0, 0, 0.25);
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    transition: opaciy 0.15s ease-out;
  }
  &.open {
    opacity: 1;
    .sidenav {
      left: 0;
      transition: left 0.35s ease-out;
      font-size: 30px;
      li:not(.divider) {
        border: none;
        a {
          color: #9e9e9e;
        }
      }
    }
    .overlay {
      height: 100%;
      opacity: 1;
      transition: opacity 0.35s ease-out;
    }
  }
}
