p.row {
    margin-top: 20px;
}

@media only screen and (max-width: 960px) {
}

canvas {
    padding-top: 2px;
}

canvas.react-pdf__Page__canvas  {
    width: 100% !important;
    height: 100% !important;
}

.case-footer {
    background-color: #eff0f1;
}

.case-footer p {
    padding: 20px;
    align-content: center;
    text-align: center;
}