p.row {
  /* position: relative; */
  overflow: hidden;
  padding: 10px 0 0;
}

.react-pdf__Document {
  padding: 0;
}

@media only screen and (max-width: 960px) {

}

#increase-btn, #decrease-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  min-width: 5vw;
  line-height: 100vh;
  height: calc(100vh - 70px);
  top: 70px;
  z-index: 0;
}

canvas.react-pdf__Page__canvas  {
    width: 100% !important;
    height: 100% !important;
}

#increase-btn:hover, #decrease-btn:hover {
  transition: background-color .3s;
  background-color: rgba(0, 0, 0, 0.04);
}

#increase-btn {
  right: 0;
  }
.case-footer {
    background-color: #eff0f1;
}

#decrease-btn {
  left: 0;
}

.case-footer p {
    padding: 20px;
    align-content: center;
    text-align: center;
}